<div class="center">

  <% if @message %>
    <div class="center alert">
      <p><%= @message %></p>
    </div>
  <% end %>

  <div class="info">
    <% if @user.admin %>
      <p><strong>ADMIN</strong></p>
    <% end %>
    <p><strong>Name:</strong> <%= @user.name %></p>
    <p><strong>Money:</strong> $<%= @user.money %></p>
    <p><%= link_to 'Edit', edit_user_path(@user) %></p>
    <p><%= link_to 'See Purchases', purchases_path %></p>
  </div>
</div>
