<h1>Listing Purchases</h1>

<table class="table">
  <thead>
    <tr>
      <th colspan="3"></th>
    <tr>
  </thead>

  <tbody>
    <tr>
      <td><strong>Name</strong></td>
      <td><strong>Price</strong></td>
      <td><strong>Quantity</strong></td>
      <td><strong>Details</strong></td>
    </tr>
    <% @purchases.each do |purchase| %>
      <tr>

        <td><%= purchase.name %></td>
        <td>$<%= purchase.price %></td>
        <td><%= purchase.quantity %></td>
        <% if current_user.admin%>
        <td><%= link_to "Show #{purchase.name}", purchase_path(purchase) %></td>
        <% else %>
        <td><%= link_to "Pick up #{purchase.name}", purchase_path(purchase) %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<% if @user.admin %>
  <p><%= link_to "New Purchase", new_user_purchase_path(@user) %></p>
  <p>
    <%= link_to "Back to Profile", user_path(@user), {:class => "btn btn-primary"} %>
  </p>
<% else %>
  <p>
    <%= link_to "Back to Profile", user_path(@user), {:class => "btn btn-primary"} %>
  </p>
<% end %>
