<h1><%= @user.name %> What do you want to buy?</h1>

  <%= form_for @purchase do |f| %>

    <div class="field"><%= f.label :name, "Select what you want to buy" %><br>
      <%= f.collection_select(:id, @purchases, :id, :name) %>
    </div>

    <form action="/items/new" method="post">
      <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token)  %>
      <%= tag(:input, :type => "hidden", :name => :user_id, :value => current_user.id) %>
      <%= tag(:input, :type => "hidden", :name => :purchase_id, :value => @purchase.id) %>
      <input class="btn btn-light" type="submit" value="Purchase">
    </form>
  <% end %>
