<h1>Purchase from the cart </h1>

<h3>Filter Purchasable Items</h3>
<%= form_for(@user) do |f| %>
  <%= f.collection_select :purchase_ids, @user.cart, :name, :name %>

  <%= f.fields_for :item do |s| %>
    <%= s.label :comment %>
    <%= s.text_field :comment %>
  <% end %>
  <%= f.submit %>
<% end %>

<!--
I need to find the purchase by the id
Select the purchase

Is the next thing I'm filling in purchase.item.comment?
what method here can I use to grab the items comment

I want to create a new item with a comment

the run  @item.buy_item

-->
