<h1> <%= Purchase.find(@item.purchase_id).name %> </h1>

<h3> Price: $<%= Purchase.find(@item.purchase_id).price %> </h3>

<%= form_for(@item), method: "patch" do |i| %>
  <div class="form-group">
    <%= i.label :quantity %><br>
    <%= i.number_field :quantity, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= i.submit class: "btn btn-primary" %>
  </div>
<% end %>
